@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  text-decoration: none;
  list-style: none;
}